{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "arrowParens": "always",
  "singleQuote": true,
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
